# Dependencies
node_modules/
package-lock.json


# Environment variables
.env
.env.*
!.env.example

# IDE - VSCode
.vscode/*





# TypeScript
*.tsbuildinfo

# Drizzle
drizzle/.env
.drizzle/
migrations/.snapshot-*.json

# Optional: Deployment files
.vercel
.netlify
.deploy/
